*                                                                @rstarmer @sdake
/.gitattributes                                                  @artificialwisdomai/maintainers
/.gitignore                                                      @artificialwisdomai/maintainers
